body {
    margin: 0;
    overflow: hidden; /* Prevent scroll bars */
}
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; /* Light background color */
}
